.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 10px;
  margin-bottom: 20px;
}

.actor_info {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  font-weight: bold;
}

.actor_img {
  width: 80px;
}

.actor_item {
  margin-bottom: 10px;
}
